<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="shortcut icon" href="{{ asset('images/logo.svg') }}" type="image/x-icon">
    <title>{{ title }}    </title>
</head>
<body>

Hello world!






<script src="{{ asset("js/jquery.js") }}"></script>
<script src="{{ asset("js/app.js") }}"></script>
{% block customJs %}{% endblock %}
</body>
</html>