{% extends "layouts/email_layout.html.twig" %}


{% block body %}
    <div class="w-full h-screen flex items-center justify-center bg-primary-100">
        <div class="w-full md:w-1/2 mx-auto">
            <div class="space-y-12">
                <div class=" flex items-center space-x-5">
                    <img src="{{ image('logo.svg') }}" class="w-12 h-12" alt="Logo">
                    <h4 class="text-white font-medium text-xl">Client Manager</h4>
                </div>
                <div>
                    <p class="text-primary-400 mb-10 text-lg w-3/4">
                        Hello {{ user.username }}, We hope you are doing well.
                        There was a request for a link to reset your password. If you are not the author of this request, please do not give importance to this email.
                        If on the contrary, you are at the origin of it, please click on the button below.

                    </p>
                    <a href="{{ url('user.resetpassword') }}?token={{ token }}&id={{ user.id }}" class="bg-primary-50 text-primary-100 px-4 py-2 rounded">
                        Reset password
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}