{% extends 'layouts/base.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <form action="{{ url("user.register",'post') }}" method="post">
        <div class=" mt-12">
            <div class="grid grid-cols-12 gap-y-4 items-center">
                <div class="col-span-6 hidden lg:block">
                    <img src="{{ image('auth.svg') }}" alt="" class="w-3/4">
                </div>
                <div class="col-span-full lg:col-span-6 xl:col-span-5">
                    <div class="logo lg:hidden mb-4 flex items-center justify-center space-x-4">

                        <img src="{{ image('logo.svg') }}" class="" alt="">
                        <h1 class="text-primary-500 text-2xl font-semibold">Client Manager</h1>
                    </div>
                    <div class="text-center">
                        <h1 class="text-primary-400 font-semibold text-4xl mb-10">Sign in</h1>
                    </div>

                    {{ csrf() }}
                    <div class="grid grid-cols-12 gap-y-4 mb-8">
                        <div class="col-span-full lg:col-span-3 ">
                            <label class="text-primary-500 font-medium leading-loose" for="email">Email</label>
                        </div>
                        <div class="col-span-full lg:col-span-9">
                            <input id="email" type="email" name="email" class="w-full text-primary-500 rounded-lg appearance-none outline-none bg-primary-300 px-1 py-2 focus:outline-none">
                            <p class="text-sm text-red-400 pl-2 mt-2">{{ session('validation')['email'] }}</p>
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-y-4 mb-8">
                        <div class="col-span-full lg:col-span-3 ">
                            <label class="text-primary-500 font-medium leading-loose" for="password">Password</label>
                        </div>
                        <div class="col-span-full lg:col-span-9">
                            <input id="password" type="password" name="password" class="w-full text-primary-500 rounded-lg appearance-none outline-none bg-primary-300 px-1 py-2 focus:outline-none">
                            <p class="text-sm text-red-400 pl-2 mt-2">{{ session('validation')['password'] }}</p>
                        </div>
                    </div>
                    <div class="grid place-items-end">
                        <div class="space-x-3">
                            <a href="#" class="text-primary-500 text-sm underline">Forgot your password?</a>
                            <button type="submit" class="bg-primary-50 text-primary-100 rounded px-4 py-2">Sign in</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock %}
