<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="shortcut icon" href="{{ image('logo.svg') }}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class=" h-screen overflow-hidden">
{% if session('success') %}
    <div class="absolute top-2 right-0 h-12 w-80 bg-green-200 text-green-900 flex pl-2 font-medium items-center z-50 rounded-l-full">
        {{ session('success') }}
        <span class="absolute right-0 flash">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
        </span>
    </div>
{% endif %}
{% if session('error') %}
    <div class="absolute top-2 right-0 h-12 w-80 bg-red-200 text-red-900 flex pl-2 font-medium items-center z-50 rounded-l-full">
    {{ session('error') }}
    <span class="absolute right-0 flash">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
        </span>
    </div>{% endif %}
{% if session('info') %}
    <div class="absolute top-2 right-0 h-12 w-80 bg-gray-200 text-gray-900 flex pl-2 font-medium items-center z-50 rounded-l-full">
    {{ session('info') }}
    <span class="absolute right-0 flash">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
        </span>
    </div>{% endif %}
{% include 'components/header.html.twig' %}
<div class="flex h-full">
    {% include 'components/navbar.html.twig' %}

    <div class="min-h-full px-3 md:px-4 flex-1 bg-primary-100">
        {% block body %}{% endblock %}
    </div>

</div>


<script src="{{ asset("js/jquery.js") }}"></script>
<script src="{{ asset("js/app.js") }}"></script>
<!-- Required popper.js -->
<script
        src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        charset="utf-8"
></script>
{% block customJs %}{% endblock %}

</body>
</html>

