<div class="h-full p-3 space-y-2 bg-primary-100 text-primary-400 border-r border-primary-200 overflow-y-auto scrollbar-hide">
    {% if (auth()) %}
        <div class="flex items-center p-2 space-x-4">
            <img
                    src="{{ avatar(auth().data.avatar) }}"
                    alt=""
                    class="w-12 h-12 rounded-full  object-cover aspect-square"
            />
            <div>
                <h2 class="text-lg font-semibold">{{ auth().username }}</h2>
                <span class="flex items-center space-x-1 divide-x">
                    <span class="text-sm cursor-default text-primary-50">
                            {{ auth().data.roles[auth().data.roles|length-1].name }}
                        </span>
                </span>
            </div>
        </div>
    {% endif %}
    <div class="divide-y divide-primary-300">
        <ul class="pt-2 pb-4 space-y-1 text-sm">


            <li class="hover:bg-primary-200 transition  duration-300 ease-in-out">
                {% if(hasRole("administrator")) %}
                    <a href=" {{ url("admin.home") }}"
                       class="flex items-center p-2 space-x-3 rounded-md text-primary-400">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5  text-primary-50" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
                        </svg>
                        <span>Dashboard</span>
                    </a>
                {% else %}
                    <a href=" {{ url("home") }}"
                       class="flex items-center p-2 space-x-3 rounded-md text-primary-400">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5  text-primary-50" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
                        </svg>
                        <span>Home</span>
                    </a>
                {% endif %}
            </li>

            <li class="hover:bg-primary-200 transition  duration-300 ease-in-out">
                <a href="{{ url('user.profile') }}" class="flex items-center p-2 space-x-3 rounded-md text-primary-400">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5  text-primary-50" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                    <span>Profile</span>
                </a>
            </li>
            <li class="hover:bg-primary-200 transition  duration-300 ease-in-out">
                <a href="{% if(hasRole('administrator')) %} {{ url('admin.product.list') }} {% else %} {{ url('store.product.list') }} {% endif %}"
                   class="flex items-center p-2 space-x-3 rounded-md text-primary-400">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-primary-50" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"/>
                    </svg>
                    <span>Store</span>
                </a>
            </li>
            <li class="hover:bg-primary-200 transition  duration-300 ease-in-out">
                <a href="{{ url('store.orders.list') }}"
                   class="flex items-center p-2 space-x-3 rounded-md text-primary-400">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-primary-50" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"/>
                    </svg>
                    <span>Orders</span>
                </a>
            </li>
        </ul>
        <ul class="pt-4 pb-2 space-y-1 text-sm">
            {% if auth() %}

                <li class="hover:bg-primary-200 transition  duration-300 ease-in-out">
                    <a href="{{ url('user.logout') }}" class="flex items-center p-2 space-x-3 rounded-md">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                                class="w-5 h-5 fill-current text-primary-50"
                        >
                            <path
                                    d="M440,424V88H352V13.005L88,58.522V424H16v32h86.9L352,490.358V120h56V456h88V424ZM320,453.642,120,426.056V85.478L320,51Z"
                            ></path>
                            <rect width="32" height="64" x="256" y="232"></rect>
                        </svg>
                        <span>Logout</span>
                    </a>
                </li>
            {% else %}
                <li class="hover:bg-primary-200 transition  duration-300 ease-in-out">
                    <a href="{{ url('user.login') }}" class="flex items-center p-2 space-x-3 rounded-md">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5  text-primary-50" fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"/>
                        </svg>
                        <span>Sign in</span>
                    </a>
                </li>
                <li class="hover:bg-primary-200 transition  duration-300 ease-in-out">
                    <a href="{{ url('user.register') }}" class="flex items-center p-2 space-x-3 rounded-md">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5  text-primary-50" fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"/>
                        </svg>
                        <span>Sign up</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>